input[type=text],
input[type=email],
input[type=number] {
  width: 100%;
  
  padding: 12px;

  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input:invalid {
    border-color:  red;
  }
  
  select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 15px;
  }
 
  .container { display: flex;
align-items: center;
justify-content: center;
flex-direction: column;}
html{
    background-color: #2d72d9;
    font-family:'Times New Roman', Times, serif;
}
.panel{
    background-color: #ccc;
    padding: 10px;
    border-radius: 20px;
}


  
  